main {
  .user-search {
    width: 248px;
  }
}

.page-container {
  border: 1px solid #b2c5ca;
  background-color: white;
  box-shadow: 0px 2px 15px rgba(126, 159, 166, 0.25);
  border-radius: 16px;
  max-width: 924px;
  padding: 20px;
}
