<gp-page [loggedin]="true">
  <toboggan-ws-banner></toboggan-ws-banner>
  <h1>Users</h1>

  <toboggan-ws-modal-alert></toboggan-ws-modal-alert>

  <main>
    <div class="row">
      <div class="page-container">
        <button
          gp-button
          gp-modal-trigger
          [modalTemplate]="createusertemplate"
          [modalTitle]="createUserDialogTitle"
          [modalButtons]="createUserModalButtonsConfig"
          aria-label="blomp"
        >
          Add New User
        </button>
        <button
          gp-button
          aria-label="blomp"
          (click)="
            editingUser = {
              id: '9642095',
              firstName: 'Leela',
              lastName: 'Turanga',
              userName: 'leela.turanga',
              email: 'leela@pexpress.com',
              enabled: true
            }
          "
        >
          Edit user (demo)
        </button>
        <ng-template #createusertemplate>
          <toboggan-ws-create-user [returnHandle]="receiveCreateUserHandle">
          </toboggan-ws-create-user>
        </ng-template>
        <toboggan-ws-edit-user [(user)]="editingUser"></toboggan-ws-edit-user>

        <toboggan-ws-user-table></toboggan-ws-user-table>
      </div>
    </div>
  </main>
</gp-page>
