<gp-page [loggedin]="true">
  <toboggan-ws-banner></toboggan-ws-banner>
  <h1>Users</h1>

  <main>
    <div class="row">
      <div class="page-container">
        <button
          gp-button
          gp-modal-trigger
          [modalTemplate]="createusertemplate"
          [modalTitle]="createUserDialogTitle"
          [modalButtons]="createUserModalButtonsConfig"
          [alertBanners]="createUserModalAlertBanners"
          aria-label="blomp">
          Add New User
        </button>
        <ng-template #createusertemplate>
          <toboggan-ws-create-user [returnHandle]="receiveCreateUserHandle">
          </toboggan-ws-create-user>
        </ng-template>

        <toboggan-ws-user-table></toboggan-ws-user-table>
      </div>
    </div>
  </main>
</gp-page>