$primaryBlue: '#08295A';
$pastelBlue: #B2C5CA;
$white: #FFFFFF;
$weldonBlue: #7E9FA640;
$antiFlashWhite: #EBF6F7;
$pewterBlue: #98B2B8;
$brightNavyBlue: #1464dc;
$lavenderGray: #c7c9d1;
$maize: #FCC65A;
$cosmicCobalt: #29298F;
$snorlax: #1F1E75;
$lavender: #E6E6FD;
$antiFlashWhite1: #F2F5F6;
$brightGray: #E5ECED;
$weldonBlue1: #7E9FA6;
$lavenderWeb: #E6F0FC;
$palmLeaf: #80A42B;
$venetialRed: #EE7274;
