<p>The new user will have access to all permissions associated with [Group Name].</p>

<form [formGroup]="addUserForm" class="add-user-form">
    <gp-input
    label="User's  email address"
      size="default"
      [errorMessage]="getFormError('user')"
      [withIcon]="false"
      iconId="gp-icon-edit"
      [error]="isFormSubmited && addUserForm.get('user')?.invalid! && addUserForm.get('user')?.touched!"
      [submitButton]="false"
      [dark]="false"
    >
      <input
        formControlName="user"
        aria-label="input"
        placeholder="placeholder"
        [required]="false"
        [typeahead]="users"
        typeaheadOptionField="email"
        type="text"
      />
      
    </gp-input> 
  </form>

  