<div
  class="modal-alert-container"
  *ngIf="
    modalAlertService.modalAlert && modalAlertService.modalAlert.alertCondition
  "
>
  <div
    gp-modal-alert
    [alertCondition]="modalAlertService.modalAlert.alertCondition"
    [alertType]="modalAlertService.modalAlert.type"
    [alertHeading]="modalAlertService.modalAlert.heading"
    [alertButtons]="modalAlertService.modalAlert.buttons"
    [template]="htmlTemplate"
  >
    <ng-template #htmlTemplate
      ><span
        [innerHTML]="modalAlertService.modalAlert.message | safeHtml"
      ></span
    ></ng-template>
  </div>
</div>
