<p>Update the user group’s name or description here.</p>
<form [formGroup]="editGroupForm">
    <gp-input size="default" label="Group name" [withIcon]="false" [error]="hasError('name')"
        [errorMessage]="getErrorMessage('name','Group name')">
        <input aria-label="input" placeholder="placeholder" type="text" formControlName="name" />
    </gp-input><br />

    <gp-text-area size="default" label="Group description" [error]="hasError('description')"
        [errorMessage]="getErrorMessage('description','Group description')">
        <textarea aria-label="input"
            placeholder="You might explain what makes this group unique, or why you're creating it"
            formControlName="description"></textarea>
    </gp-text-area><br />
</form>