<toboggan-ws-modal
  #edit
  title="Edit user group details"
  acceptButton="Review changes"
  id="edit-group"
  (hidden)="editModalHidden()"
  (accept)="editModalAccept()"
>
  <form [formGroup]="editGroupForm">
    <gp-input
      size="default"
      label="Group name"
      [withIcon]="false"
      [error]="hasError('name')"
      [errorMessage]="getErrorMessage('name')"
    >
      <input
        aria-label="input"
        placeholder="placeholder"
        type="text"
        formControlName="name"
      /> </gp-input
    ><br />

    <gp-text-area
      size="default"
      label="Group description"
      [error]="hasError('description')"
      [errorMessage]="getErrorMessage('description')"
    >
      <textarea
        aria-label="input"
        placeholder="You might explain what makes this group unique, or why you're creating it"
        formControlName="description"
      ></textarea>
    </gp-text-area>
  </form>
</toboggan-ws-modal>

<div *ngIf="isLoading">
  <gp-interstitial-loader
    [isOverlayVisible]="true"
    [type]="loaderType"
  ></gp-interstitial-loader>
</div>

<toboggan-ws-modal
  #review
  title="Approve changes?"
  acceptButton="Yes, approve"
  cancelButton="No, keep editing"
  id="edit-group-review"
  (hidden)="reviewModalHidden()"
  (accept)="approveChanges()"
>
  <div class="review-grid">
    <div class="row review-header py-2">
      <div class="col"></div>
      <div class="col">
        <b>Original</b>
      </div>
      <div class="col">
        <b>New</b>
      </div>
    </div>
    <div class="row py-4">
      <div class="col">
        <b>User group name</b>
      </div>
      <div class="col">
        {{ oldGroup.name }}
      </div>
      <div class="col">
        {{ group.name }}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <b>User group description</b>
      </div>
      <div class="col">
        {{ oldGroup.description }}
      </div>
      <div class="col">
        {{ group.description }}
      </div>
    </div>
  </div>
</toboggan-ws-modal>
