<div class="table-container">
  <toboggan-ws-flag-assessment
  [assessment]="editAssessmentData"
  [selectedOption]="selectedOption"
  *ngIf="showAssessmentModal"
  (editFlagAssessmentAction)="handleAssessmentAction($event)">
  </toboggan-ws-flag-assessment>
  <gp-table
    [dataGenerator]="dataGenerator"
    [dynamic]="true"
    tableStyle="borders"
    [getActionMenuItems]="getActionMenuItems"
    [isEmptyHead]="assessmentList.length === 0"
    noResultsLogo="gp-icon-moth"
    noResultsHeading="...Now what?"
    noResultsText="Thanks to your awesome evaluating skills, there’s nothing here to evaluate (for now). "
    (onRowAction)="onRowAction($event)"
    itemName="user assessments"
  >
    <ng-content select="[table-cta-right]" gp-table-cta-right></ng-content>
  </gp-table>
</div>
