<gp-page [loggedin]="true" title="Application Admin">
  <div class="p-5">
    <toboggan-ws-banner></toboggan-ws-banner>
    <toboggan-ws-modal-alert></toboggan-ws-modal-alert>
    <a
      gp-link
      iconId="gp-icon-west"
      iconVariations="iconleft"
      routerLink="/group"
      >Back to User Groups</a
    >
    <div class="gp-level-4 mt-6">User Group</div>
    <div *ngIf="group">
      <div class="gp-level-5">{{ group.name }}</div>
      <div class="my-6">{{ group.description }}</div>
    </div>
    <gp-tabs (click)="onTabChange($event)">
      <gp-tab label="Users">
        <toboggan-ws-list-users [group]="group">
          <div table-cta-right>
            <button
              gp-button
              class="add-user-group-btn"
              (click)="openAddUserToGroupModal()"
            >
              Add user
            </button>
          </div>
        </toboggan-ws-list-users>
      </gp-tab>
      <gp-tab label="Permissions">
        <div class="row pb-5 pb-md-8 g-5 g-md-8">
          <div class="col-3">
            <div class="p-4">
              <button
                gp-button
                iconVariations="iconleft"
                label="Edit app access"
                size="default"
                styleType="secondary"
                iconId="gp-icon-settings"
                [isLoading]="false"
              ></button>
              <div class="slide-left">
                <div class="gp-level-6 mb-4">Applications</div>
                <button
                  *ngFor="let tab of leftTabs"
                  gp-button
                  [label]="tab.label"
                  size="default"
                  [styleType]="tab.active ? 'secondary' : 'tertiary'"
                  (click)="changeTab(tab)"
                ></button>
              </div>
            </div>
          </div>
          <div class="col-9">
            <toboggan-ws-permission
              *ngIf="activeLeftTab === 0"
            ></toboggan-ws-permission>
          </div>
        </div>
      </gp-tab>
    </gp-tabs>
  </div>
  <toboggan-ws-add-users
    *ngIf="showAddUserModal"
    (addUserToGroupAction)="handleAddUserToGroupAction()"
    [group]="group"
  >
  </toboggan-ws-add-users>
</gp-page>
