<div class="table-container">
  <button
    gp-button
    gp-modal-trigger
    [modalTemplate]="editGroup"
    [modalTitle]="editTitle"
    [modalButtons]="modalEditButtons"
    aria-label="open modal"
  >
    Edit user group
  </button>
  <ng-template #editGroup>
    <toboggan-ws-edit-group></toboggan-ws-edit-group>
  </ng-template>
  <gp-table
    [dataGenerator]="dataGenerator"
    [dynamic]="true"
    tableStyle="borders"
    [getActionMenuItems]="getActionMenuItems"
    noResultsHeading="No groups yet"
    noResultsText="Once you create one, it’ll show up here."
    (onRowAction)="onRowAction($event)"
    itemName="user groups"
  >
    <ng-content select="[table-cta-right]" gp-table-cta-right></ng-content>
  </gp-table>
</div>
