<div *ngIf="bannerService.banners.length > 0" class="banner-container">
  <div *ngFor="let banner of bannerService.banners">
    <div class="banner">
      <gp-banner-alert [alertType]="banner.type" [heading]="banner.heading">
        <p
          gp-alert-msg
          *ngIf="banner.message"
          [innerHTML]="banner.message | safeHtml"
        ></p>

        <button
          *ngIf="banner.button?.action"
          gp-button
          (click)="banner.button?.action(banner.id)"
          [styleType]="banner.button?.style || 'primary'"
        >
          {{ banner.button?.label }}
        </button>
      </gp-banner-alert>
    </div>
  </div>
</div>
