{{ bannerService.banner | json }}
<div *ngIf="bannerService.banner" class="banner-container">
  <gp-banner-alert
    [alertType]="bannerService.banner.type"
    [heading]="bannerService.banner.heading"
  >
    <p gp-alert-msg *ngIf="bannerService.banner.message">
      {{ bannerService.banner.message }}
    </p>
    <button
      *ngIf="bannerService.banner.button"
      gp-button
      styleType="primary"
      (click)="(bannerService.banner.button.action)"
    >
      {{ bannerService.banner.button.label }}
    </button>
  </gp-banner-alert>
</div>
