@use "../../../shared/styles/bootstrap_overrides";
@import '../../../shared/styles/colors';
@import "~bootstrap/scss/mixins/breakpoints";

.assessment-details-container {
    border-radius: 15px;
    border: 1px solid $pastelBlue;
    box-shadow: 0px 2px 15px 0px $weldonBlue;
}

.assessment-details-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    background: $white;
    border-bottom: 1px solid $pastelBlue;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
}

.gp-tool-bar {
    background: $antiFlashWhite;
    border-left: 1px solid $pastelBlue;
    box-shadow: inset 1px 0px 5px rgb(0 0 0 / 5%);
    border-radius: 0px 15px 0px 0px;
    display: flex;
    flex-flow: wrap;
    @include media-breakpoint-down(xl, bootstrap_overrides.$grid-breakpoints) { 
        flex-flow: column;
        align-items: center;
    }
}

.gp-paragraph {
    @include media-breakpoint-down(xl, bootstrap_overrides.$grid-breakpoints) { 
        font-size: 14px;
    }
}

.gp-attempt-selector {
    box-sizing: border-box;
    width: auto;
    height: fit-content;
    margin-top: 5%;
    background: $white;
    border: 0.5px solid $pastelBlue;
    border-radius: 2px;
    display: flex;
    @include media-breakpoint-down(xl, bootstrap_overrides.$grid-breakpoints) { 
        flex-flow: column;
        align-items: center;
        margin-top: 23px;
    }

}

.gp-attempt-selector-left {
    box-sizing: border-box;
    width: 30%;
    height: 50%;
    @include media-breakpoint-down(xl, bootstrap_overrides.$grid-breakpoints) { 
        width: 100%;
        text-align: center;
    }
}

.gp-attempt-selector-right {
    box-sizing: border-box;
    width: 30%;
    height: 50%;
    @include media-breakpoint-down(xl, bootstrap_overrides.$grid-breakpoints) { 
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
}
.gp-attempt-selector-value {
    width: 40%;
    height: 100%;
    border-left: 0.5px solid $pastelBlue;
    border-right: 0.5px solid $pastelBlue;
    text-align: center;
    @include media-breakpoint-down(xl, bootstrap_overrides.$grid-breakpoints) { 
        width: 100%;
        border-top: 0.5px solid $pastelBlue;
        border-bottom: 0.5px solid $pastelBlue;
    }
}
.gp-chevron {
    fill: $pewterBlue;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    margin-right: 5px;
}

.gp-chevron:active {
    fill: $brightNavyBlue;
}

.gp-assessment-percent {
    box-sizing: border-box;
    text-align: center;
    @include media-breakpoint-down(xl, bootstrap_overrides.$grid-breakpoints) { 
        margin:0% !important;
    }
}
.assessments-details-container, .assessments-rubrics {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    height: 500px;
    margin: 16px;
    background: $white;
    border: 1px solid $lavenderGray;
    border-radius: 15px;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    overflow: scroll;
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
    
}

.assessments-rubrics {
    height: 585px;
    .rubric-details {
        border-bottom: 1px solid $pastelBlue;
    }
}


#rubric-container {
    width: 99%;
    padding: 20px 15px;
}

.gp-ellipse {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 11px;
    margin: 0 8px;
    @include media-breakpoint-down(xl, bootstrap_overrides.$grid-breakpoints) { 
        margin: 9px 0px;
    }
}

.gp-yellow-80 {
    background: $maize;
}

.gp-green-80 {
    background: $palmLeaf;
}

.gp-red-80 {
    background: $venetialRed;
}

.reports iframe {width:100%; height:100%;border-radius: 15px;}
.reports {
    height: 100%;
    width: 99%;
    border-radius: 15px;
    padding: 20px 15px;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
}

.learnosity-button-container {
    display: flex;
    align-self: flex-end;
    padding: 20px;
    button.lrn_save_button.lrn_btn {
        font-weight: 700 !important;
        font-size: 16px !important;
        line-height: 22px !important;
        color: $white !important;
        background: $brightNavyBlue !important;
        border: 2px solid $brightNavyBlue !important;
        border-radius: 8px !important;

    }
}

// #report-1 {
//     height: 100%;
//     overflow-y: scroll;
//     padding: 20px;
// }

.expandable-container{
    left: 100%;
    right: -100%;
    top: 100%;
    bottom: -108.33%;
    height: 53px;
    background: $cosmicCobalt;
    box-shadow: 0px -3px 15px 5px rgba(0, 0, 0, 0.05);
    border-radius: 16px 16px 0px 0px;
    @include media-breakpoint-down(xl, bootstrap_overrides.$grid-breakpoints) { 
        height: 85px;
    }
}

.expand {
    height: 19px;
    width: 64px;
    margin-left: 26px;
    top: 16px;
    background: $snorlax;
    border-radius: 11px 11px 0px 0px;
    margin-top: 22px;
    cursor: pointer;
}

.expand-icon {
    fill: $lavender;
    width: 23px;
    height: 25px;
    margin-left: 20px;
    margin-right: 8px;
}

.assessment-details-expand-container {
    left: 2698px;
    top: 1706px;
    height: 620px;
    overflow-y: auto;
    border: 1px solid $pastelBlue;
    box-shadow: 0px 2px 15px 0px rgb(126 159 166 / 25%);
}

.div-feedback-header {
    height: 40px;
    border-radius: 2px;
    background: $antiFlashWhite1;
    box-sizing: border-box;
    border: 1px solid $brightGray;
}

.div-feedback-content {
    height: auto;
    border-radius: 0px;
    box-sizing: border-box;
    border: 1px solid $brightGray;
    align-items: center;
}

.div-feedback-footer {
    height: 29px;
    border-radius: 2px;
    background: $antiFlashWhite1;
    box-sizing: border-box;
    border: 1px solid $brightGray;
    align-items: center;
    text-align: end;
}

.wrapper {
    display: grid;
    grid-template-columns: 5px 5px 5px 5px 5px;
    grid-gap: 32px;
    align-items: center;
    padding: 10px;
}

.wrapper div {
    background-color: $weldonBlue1;
    aspect-ratio: 1;
}

div.sticky {
    position: sticky;
    bottom: 0;
    background-color: $white;
    padding: 22px;
    font-size: 20px;
    text-align: end;
    left: 0px;
}

.gp-x-more {
    background: $white;
    width: 28px;
    height: 28px;
    float: right;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0px 2px 15px rgb(126 159 166 / 25%);
    cursor: pointer;
}

.gp-moreicon {
    fill: $brightNavyBlue;
    width: 28px;
    height: 21px;
    float: right;
    margin-top: 4px;
    position: sticky;
}

.gp-white {
    color: $white;
}



.div-feedback {
    padding: 0px 16px 0px 16px;
}

.gp-vertical {
    border-left: 1px solid $pastelBlue;
    margin-top: 10px;
    margin-bottom: 10px;
}
