<div *ngIf="isLoading">
    <gp-interstitial-loader [isOverlayVisible]="true" [type]="loaderType"></gp-interstitial-loader>
</div>
<form [formGroup]="userForm">
    <p class="gp-paragraph">Share some information about the new user. You can always edit these details
        later.</p>
    <gp-input
        label="First name"
        toboggan-ws-error-message
        #firstNameErrMsg="tbWsErrMsg"
        [form]="userForm"
        controlName="firstName"
        [error]="firstNameErrMsg.hasError"
        [errorMessage]="firstNameErrMsg.errorMessage">
        <input type="text" formControlName="firstName">
    </gp-input>
    <gp-input
        label="Last name"
        toboggan-ws-error-message
        #lastNameErrMsg="tbWsErrMsg"
        [form]="userForm"
        controlName="lastName"
        [error]="lastNameErrMsg.hasError"
        [errorMessage]="lastNameErrMsg.errorMessage">
        <input type="text" formControlName="lastName">
    </gp-input>
    <gp-input
        label="Email address"
        toboggan-ws-error-message
        #emailErrMsg="tbWsErrMsg"
        [form]="userForm"
        controlName="email"
        [error]="emailErrMsg.hasError"
        [errorMessage]="emailErrMsg.errorMessage">
        <input type="email" formControlName="email">
    </gp-input>
    <div class="mt-3"></div>
      <gp-checkbox-group
            size="default"
            label="User Group(s)"
            orientation="vert"
            [hasSelectAll]="false"
            [required]="false"
        >
        <div class="row">
            <div class="col-md-6" *ngFor="let data of userGroups">
                <gp-checkbox [label]="data.name">
                    <input type="checkbox" [name]="data.name" [id]="data.id" />
                </gp-checkbox> 
            </div>
        </div>
        </gp-checkbox-group>
</form>