<form [formGroup]="userForm">
    <p class="gp-paragraph">Share some information about the new user. You can always edit these details
        later.</p>
    <gp-input
        label="First Name"
        [error]="hasError('firstName')"
        [errorMessage]="getErrorMessage('firstName', 'First Name')">
        <input type="text" formControlName="firstName">
    </gp-input>
    <gp-input
        label="Last Name"
        [error]="hasError('lastName')"
        [errorMessage]="getErrorMessage('lastName', 'Last Name')">
        <input type="text" formControlName="lastName">
    </gp-input>
    <gp-input
        label="Email Address"
        [error]="hasError('email')"
        [errorMessage]="getErrorMessage('email', 'Email')">
        <input type="email" formControlName="email">
    </gp-input>
</form>