/* You can add global styles to this file, and also import other style files */

@import './app/shared/styles/_colors.scss';
@import './app/shared/styles/_typography.scss';
.modal .modal-dialog {
    .dropdown.open.dropdown-menu {
        width: 100%;
        max-height: 100px !important;
    }
    &.gp-modalalert {
        max-width: 560px;
    }
}

// for return unevaluated modal width adjustment
.unevaluated-modal {
    max-width: 552px !important;
}

.permission-list-container .gp-table-x-table thead tr:last-of-type .dropdown-menu.gp-tablefilter-x-dropdown {
    inset: 100% 0px auto auto !important;
}
