/* You can add global styles to this file, and also import other style files */

@import './app/shared/styles/_colors.scss';
@import './app/shared/styles/_typography.scss';
.modal .modal-dialog {
    .dropdown.open.dropdown-menu {
        width: 100%;
        max-height: 100px !important;
    }
    &.gp-modalalert {
        max-width: 560px;
    }
}
